head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Conference reservation
    link(rel='stylesheet', type='text/css', href='styles/style.css')
header
    #searchBox
        input#site-search(type='search', name='search', value='search...', aria-label='Search for the conference room')
        img#loupe(src='images/search.png')
    #logOut
        h2 LOG OUT
        img#logOutIMG(src='images/exit.png')
.roomsContainer
    h1 Our conference rooms
    .roomsBox
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_1.png')
            .description
                h2 ROOM NUMBER 1
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_2.png')
            .description
                h2 ROOM NUMBER 2
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_3.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_1.png')
            .description
                h2 ROOM NUMBER 1
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_3.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_3.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_2.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard
            img.roomIcon(src='images/conference_1.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_1.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
        .roomCard(href='/room-card')
            img.roomIcon(src='images/conference_2.png')
            .description
                h2 ROOM NUMBER 3
                .descBox
                    div
                        h2 PRICE:
                        h2 130$
                    div
                        img.humanIcon(src='images/user.png')
                        h2 12
                    img.infoIcon(src='images/info.png')
